<div class="sortable-container columnContainer" layout="column" sv-root sv-part="Table.item.config.columns">
  <div class="option-item" layout="row" ng-repeat="column in Table.item.config.columns track by $index" sv-element>

    <md-button class="md-button handle" md-no-ink aria-label="reorder option item" sv-handle>
      <i class="material-icons">reorder</i>
    </md-button>

    <md-input-container class="input-container">
      <label>第{{$index + 1}}列</label>
      <input ng-model="column.value" />
    </md-input-container>

    <md-button class="md-button" md-no-ink aria-label="delete column item" ng-click="Table.deleteColumn($index)">
      <i class="material-icons">delete</i>
      <md-tooltip md-autohide="true">Delete</md-tooltip>
    </md-button>

  </div>
  <div layout="row" layout-align="start">
    <md-button class="md-primary add-option-button" md-no-ink aria-label="add option item" ng-click="Table.addColumn()">添加列</md-button>
  </div>
</div>


<div class="sortable-container rowContainer" layout="column" sv-root sv-part="Table.item.config.rows">
  <div class="option-item" layout="row" ng-repeat="row in Table.item.config.rows track by $index" sv-element>

    <md-button class="md-button handle" md-no-ink aria-label="reorder row item" sv-handle>
      <i class="material-icons">reorder</i>
    </md-button>

    <md-input-container class="input-container">
      <label>第{{$index + 1}}行</label>
      <input ng-model="row.value" />
    </md-input-container>

    <md-button class="md-button" md-no-ink aria-label="delete row item" ng-click="Table.deleteRow($index)">
      <i class="material-icons">delete</i>
      <md-tooltip md-autohide="true">Delete</md-tooltip>
    </md-button>

  </div>
  <div layout="row" layout-align="start">
    <md-button class="md-primary add-option-button" md-no-ink aria-label="add row item" ng-click="Table.addRow()">添加行</md-button>
  </div>
</div>
